<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/build/main.bundle.css"/>
</head>
<body>
<!--<h1 style="text-align: center"><%= title %></h1>-->

<div class="main-wrapper" id=<%= pageId %>>
  <div id='geo-chart'></div>
  <div id='chart'></div>
  <div id="timeline">
    <h4 class="header">Timeline</h4>
    <div class="content">
      <div style="height: 50vh;">
        This block is intended to be blank here (or has basic information)
        <br/>

        Please scroll down to see story
      </div>

      <div class="top-cards">
        <ul>
          <li class="mini-card">2000-01-01</li>
          <li class="mini-card">2000-01-02</li>
          <li class="mini-card active">2000-01-03</li>
          <li class="mini-card">2000-01-04</li>
          <li class="mini-card">2000-01-05</li>
          <li class="mini-card">2000-01-06</li>
          <li class="mini-card">2000-01-07</li>
        </ul>
      </div>
      <div class="active-card">
        <div class="left-col">
          <div class="title">Officers Involved (3)</div>
          <ul class="involved-officers">
            <li><span class="circle-icon"></span> Thomas Carey</li>
            <li><span class="circle-icon"></span> Raymond Piwinicki</li>
          </ul>
        </div>
        <div class="right-col">
          <h4 class="date-title">11/08/2013</h4>
          <div class="description">FBI report documenting an interview three days prior with an individual whose name is
            redacted, notes that “Watts gets IBW [Ida B. Wells] drug dealers to pay him to work (sell drugs) in the
            housing project. If the payments are made to WATTS, he will in turn allow the drug dealers to continue to
            sell drugs.”
          </div>

          <a class="report-link">
            <img src="img/ic-pdf.png"
                 srcset="img/ic-pdf@2x.png 2x, img/ic-pdf@3x.png 3x"
                 class="ic-pdf">
            Investigation Report - Long name Report 2016
          </a>
        </div>
      </div>
      <div class="bottomCards"></div>
      <% for(var i = 0; i < timelineData.length; i++) { %>
      <hr id="<%- "trigger-" + (i + 1) %>"/>
      <div class="card" id="<%- "scene-" + (i + 1) %>" onclick="scrollToScene(<%- (i + 1) %>,this)">
        <div class="tag">
          <%- (timelineData[i]['officer_name'] ? timelineData[i]['officer_name'] : 'Unknown') %>
        </div>
        <div class="title">
          <%= timelineData[i]['Text Date'] %>
        </div>
        <div class="description">
          <%- timelineData[i]['Content'] %>
          <% if (timelineData[i]['Documents']) { %>
          <br/>
          <a href="<%- timelineData[i]['Documents'] %>">Document</a>
          <% } %>
        </div>
      </div>
      <% } %>
      <div style="height: 48vh"></div>
    </div>
  </div>

</div>
</body>
<script>
  var data =<%- data %>
</script>
<script src="/build/main.bundle.js"></script>

</html>
